<h1>Word Counter</h1>
<ul>
  <li>@Model.GetDescription()</li>
</ul>
<h3><a href="/wordsentences">View previous words and sentences</a></h3>
<a href="/wordsentences/new">Add a new word and sentence.</a>