<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Provide a word and phrase</h1>

    <form action="/items" method="post">
      <label for="word">Add a new word</label>
      <input id="word" name="word" type="text">
      <label for="phrase">Add a new phrase</label>
      <input id="phrase" name="phrase" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>