@using WordCounter.Models;
<!DOCTYPE html>
<html>
    <head>
        <title>
            Word Counter
        </title>
    </head>
    <body>
        <div>
            <p>@Model.GetPairs() </p>
            <a href="/wordsentences/new">Submit a new word and phrase</a>
            <a href="/">Return Home</a>
        </div>
    </body>
</html>