@using WordCounter.Models;
<!DOCTYPE html>
<html>
    <head>
        <title>
            Word Counter
        </title>
    </head>
    <body>
        <div>
            <p>@Model.GetPairs() </p>
            <a href="/wordsentences/new"> </a>
        </div>
    </body>
</html>